@import 'assets/scss/mixins.scss';
@import 'assets/scss/variables.scss';
@import 'react-alice-carousel/lib/scss/alice-carousel.scss';

.sidebar {
  position: sticky;
  top: 90px;
  right: 0;
  @include container;
  min-width: 300px;
  height: fit-content;
  padding: 20px;

  span {
    font-weight: 500;
  }

  .purchases {
    margin-bottom: 10px;
  }

  .toFavorite {
    width: 210px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: $accent-color;
    }

    .icon {
      margin: 3px 5px 0 40px;
    }
  }

  .favorite {
    color: $accent-color;

    &:hover {
      color: #333;
    }
  }

  .applied {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  .login {
    margin-top: 10px;
    text-align: center;

    .link {
      text-decoration: underline;
      color: $accent-color;
    }
  }
}

.application {
  @include container;
  min-width: 300px;
  height: fit-content;
  padding: 30px;
  transition: 0.5s;

  .applicationTitle {
    font-size: 20px;
    font-weight: 500;
  }

  .formControl {
    margin-top: 10px;
  }
}

