.block {
  display: flex;
  margin-bottom: 10px;

  .image {
    border-radius: 10px;
    max-width: 250px;
    height: auto;
    margin-right: 20px;
  }
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.categories {
  margin-bottom: 20px;
}

.company {
  margin-top: 20px;
}
